<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <AlanCole_UtmTag>
            <version>1.0.0</version>
        </AlanCole_UtmTag>
    </modules>
    <global>
        <helpers>
            <alancole_utmtag>
                <class>AlanCole_UtmTag_Helper</class>
            </alancole_utmtag>
        </helpers>
    </global>
	<admin>
        <routers>
            <alancole_utmtag>
                <use>admin</use>
                <args>
                    <module>AlanCole_UtmTag</module>
                    <frontName>utmtagger</frontName>
                </args>
            </alancole_utmtag>
        </routers>
    </admin>
</config>